{% extends 'layouts/base_no_sidebar.html' %}

{% block sidebar %}
<div class="ui inverted left vertical accordion menu">
    <a class="item" href="{{ url_for("main.index") }}">
        <i class="home icon"></i>
        Home
    </a>
    <div class="divider"></div>
    <div class="header item">Projects</div>
    {% if all_project_data|length != 0 %}
        {% for p in all_project_data %}
            <div class="item">
            {% if project %}
                {% if project.name == p.name %}
                    <div class="active title">
                {% else %}
                    <div class="title">
                {% endif %}
            {% else %}
                <div class="title">
            {% endif %}
                <a href="{{ url_for("projects.view_project", project_id=p.id) }}">
                    <i class="dropdown icon"></i>
                    {{ p.name }}
                </a>
                    <a class="content" href="{{ url_for("tools.add_config_template", project_id=p.id) }}">
                        <i class="plus icon"></i>
                        add a Config Template
                    </a>
                    {% if p.config_templates|length != 0 %}
                        <div class="accordion">
                                <div class="item">
                        {% for cfg in p.config_templates %}
                            <a class="title" href="{{ url_for("tools.view_config_template", project_id=p.id, config_template_id=cfg.id) }}">
                                <i class="file icon"></i>
                                {{ cfg.name }}
                            </a>
                        {% endfor %}
                                </div>
                        </div>
                    {% else %}
                        <div class="content">(no templates defined)</div>
                    {% endif %}
                    <div class="content"></div>
                </div>
            </div>
        {% endfor %}
            <div class="divider"></div>
            <div class="item">
                <a href="{{ url_for("projects.add_project") }}">
                    <i class="folder icon"></i> Add a new Project
                </a>
            </div>
        {% else %}
            <div class="item">
                <a href="{{ url_for("projects.add_project") }}" class="uk-text-danger">
                    <i class="folder icon"></i> Add your first Project
                </a>
            </div>
        {% endif %}
    <div class="divider"></div>
    <a class="item" href="{{ url_for("tools.appliance_status_json") }}">
        <i class="dashboard icon"></i>
        Appliance Status
    </a>
    <div class="divider"></div>
    <a class="item" href="{{ url_for("tools.how_to_use") }}">
        <i class="help icon"></i>
        How to use
    </a>
    <a class="item" href="{{ url_for("tools.template_syntax") }}">
        <i class="info icon"></i>
        Template Syntax
    </a>
    <a class="item" href="https://github.com/tobymccann/network-config-generator" target="_blank">
        <i class="github icon"></i>
        Github Repo
    </a>
</div>

{% endblock %}
<div class="pusher">
    <div class="ui container">
        {% block full_size_content %}
        {% block content %}{% endblock %}
        {% endblock %}
    </div>
</div>
