.webassets-cache/
webassets-external/
.DS_Store
*.pyc
*.pyo
env/
venv
.env
env*
dist
*.egg
*.egg-info
*.sqlite
.idea
dump.rdb
config.env

net_info.py
__pycache__/
app/__pycache__/
app/account/__pycache__/
app/admin/__pycache__/
app/main/__pycache__/
app/models/__pycache__/
app/projects/__pycache__/
app/tools/__pycache__/
app/utils/__pycache__/
